/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.letter-cards {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 1px solid;
  color: white;
  background-color: #1C8DD8;
  height: 100%;
  width: 60px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 300px;
}

#answer-form {
  display: flex;
  justify-content: left;
  height:
}

#answer-form #text-bar {
  width: 60%;
}
